
<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>

</head>
<body>
    <form id="form1" method="post" runat="server" onsubmit="return checkAll();" >

    <table style="width:100%; border-collapse:collapse;">

           <tr>
        <td colspan="9" style="text-align:center; padding:20px;">
            <h1 style="color:pink; font-size:50px; margin:0;">
                חוג לכל אחד
            </h1>
        </td>
    </tr>

        <tr>
            <td colspan="9" style="background:pink; color:white; text-align:center; padding:20px;">
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server" />
            </td>
        </tr> 
        <%=Session["username"] %> 
        
        <tr style="background:pink; text-align:center;">
            <td><a href="Home.aspx" style="color:white">בית</a></td> 
            <td><a href="aboutMe.aspx" style="color:white">אודות</a></td>
            <td><a href="Gallery.aspx" style="color:white">גלריה</a></td>
            <td><a id="regLink" runat="server" href="Register.aspx" style="color:white">הרשמה</a></td>
            <td><a id="logInlink" runat="server" href="SignIn.aspx" style="color:white">כניסה</a></td>
            <td><a id="adminLink" runat="server" href="Admin.aspx" style="color:white">מנהל</a></td>
            <td><a id="addHobbyLink" runat="server" href="AddHobby.aspx" style="color:white">הוספת חוג</a></td>
            <td><a id="hobbysLink" runat="server" href="item_temp2Shlifa.aspx" style="color:white">צפייה בחוגים</a></td>
            <td><a id="exitLink" runat="server" href="Exit.aspx" style="color:white">יציאה</a></td>
        </tr>

        
        <tr>
            <td colspan="9" style="padding:20px; text-align:center;">
                <asp:ContentPlaceHolder ID="MainContent" runat="server" />
            </td>
        </tr>

    </table>

</form>

</body>

</html>